.custom-select-wrapper {
    position: relative;
}
.custom-select {
    height: 48px;
    background: #FFF;
}
.custom-select-wrapper:before {
    position: absolute;
    top: 10px;
    right: 15px;
    font-family: 'FontAwesome';
    content: "\f078";
    display: block;
    color: #404040;
    font-size: 12px;
    pointer-events: none;
}
.custom-select {
    display: inline-block;
    width: 100%;
    // height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
